{{- $p := .page }}
{{- $catKey := .catKey }}
{{- $related := first 4 (where (where site.RegularPages "Section" "posts" ) "Params.categories" "intersect" (slice $catKey)) }}
<div class="panel">
  <div class="panel__title"><span data-vi="Bài viết liên quan" data-en="Related Posts">Bài viết liên quan</span></div>
  <div class="mini-list">
    {{- range $related }}{{ if ne .RelPermalink $p.RelPermalink }}
    <a class="mini-item" href="{{ .RelPermalink }}">
      <span class="mini-item__icon">📄</span>
      <div><div class="mini-item__title">{{ .Title }}</div><div class="mini-item__meta">{{ .ReadingTime }} <span data-vi="phút" data-en="min">phút</span></div></div>
    </a>
    {{- end }}{{ end }}
  </div>
</div>

<div class="panel">
  <div class="panel__title">🔥 <span data-vi="Top bài viết" data-en="Top Posts">Top bài viết</span></div>
  <div class="mini-list">
    {{- range $i, $tp := first 5 (where site.RegularPages "Section" "posts").ByDate.Reverse }}
    <a class="mini-item" href="{{ $tp.RelPermalink }}">
      <span class="mini-item__num">{{ printf "%02d" (add $i 1) }}</span>
      <div class="mini-item__title">{{ $tp.Title }}</div>
    </a>
    {{- end }}
  </div>
</div>

<div class="panel">
  <div class="panel__title">Tags</div>
  <div class="tag-cloud">
    {{- range $name, $taxonomy := site.Taxonomies.tags }}
    <a class="tag-pill" href="{{ (site.GetPage (printf "/tags/%s" $name)).RelPermalink }}">#{{ $name }}</a>
    {{- end }}
  </div>
</div>
