// Styling for the team section
.about-me {
    margin-bottom: 50px;
    text-align: center;
    img {
      width: 225px;
      height: 225px;
      border: 7px solid fade-out(#000000, 0.9);
    }
    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
    }
    p {
      margin-top: 0;
    }
  }

.about-me ul.list-social{
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
}

.about-me ul.list-social li{
    display:inline;
}

.about-me ul.list-social li a{
    display:inline-block;
}

ul.social-buttons {
    margin-bottom: 0;
    li {
        margin-right:30px;
        a {
            font-size: 20px;
            line-height: 50px;
            display: block;
            width: 50px;
            height: 50px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            color: white;
            border-radius: 100%;
            outline: none;
            background-color: #212529;
            &:active,
            &:focus,
            &:hover {
            // background-color: #0e28be;
            background: $subfooter-bg;
            color: rgb(158, 242, 176);
            }
      }
    }
  }

